// Colors
$white-color: #ffffff;
$white-70-color: rgba(255, 255, 255, 0.3);
$black-color: #000000;
$deep-blue-color: #0c1b2d;
$light-blue-color: #616f80;
$less-deep-blue-color: #182b40;
$blue-color: #2c4057;
$gold-color: #987e57;
$brown-color: #374250;
$transparent-color: rgba(0, 0, 0, 0);
$overlay-black-80-per: rgba(0, 0, 0, 0.8);
$overlay-black-40-per: rgba(0, 0, 0, 0.4);
